<!DOCTYPE html>
<html lang="en">

<head>
    <header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/header-background.jpg' )}}')"></header>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Result DR</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
    rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='assets/circle-croppedblue.png')}}" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet" />

    <!-- Favicon  -->
    <link rel="icon" href="{{url_for('static',filename='assets/circle-croppedblue.png')}}">
</head>

<body data-spy="scroll" data-target=".fixed-top">


    <!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">We Care!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/post">Get Started</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->

    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Congratulation!<br>You do not have Diabetic Retinopathy!!!</h1>
                    <h2>-----------------------------------------------------------------------------------------------</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    
      <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-container about">
                        <h4>About</h4>
                        <p class="white">Our ultimate goal is to help you detect and provide complete information
                            regarding Diabetic Retinopathy.
                            For more information ,<a class="white" href="https://www.intolife.in/living-with-diabetes/managing-complications/diabetic-retinopathy/treatment-and-prevention">click here.</a><br> Hope this helps you.Thank
                            you!!</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->

                <div class="col-md-5">
                    <div class="text-container about">
                        <h4>Consult Online Doctor</h4>
                        <p class="white">In case , you reports for Diabetic Retinopathy comes positive , it is necessary
                            to consult a doctor (ophthalmologist).
                            Here is a link to connect multiple ophthalmologist online.
                            <a class="white"
                                href="https://www.apollo247.com/specialties/ophthalmology">https://www.apollo247.com/specialties/ophthalmology</a>
                        </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->

                <div class="col-md-3">
                    <div class="text-container" id="knowmore">
                        <h4>Know more about</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="#your-link">Fundus Images</a>
                            </li>
                            <li>
                                <a class="white" href="terms-conditions.html">Homemade Remedies</a>
                            </li>
                            <li>
                                <a class="white" href="privacy-policy.html">Other Diabetes related Diseases</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Scripts -->

</body>

</html>